

<h3> Import Students </h3>
<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Students" %>
<% end %>

<br>

OR
<br>
<br>
<br>
<br>

<h2> New Student Form </h2>
<%= form_for @student do |form| %>



<table class="table">
<tr>

  <td>  Name</td>
  <td>  <%= form.text_field :name %></td>

</tr>

<tr>

  <td>  Admission_Year</td>

</tr>


<tr>

  <td>  Category</td>
  <td>  <%= form.text_field :category %></td>

</tr>


<tr>

  <td>  Branch</td>
  <td>  <%= form.text_field :branch %></td>

</tr>


<tr>

  <td>  Mobile</td>
  <td>  <%= form.telephone_field :mobile %></td>

</tr>

<tr>

  <td>  Email</td>
  <td>  <%= form.email_field :email %></td>

</tr>






<tr>

  <div class="actions">
    <td>
    <%= form.submit %>
    </td>
  </div>
  </tr>
  </table>
<% end %>
